
@media screen and (max-width:748px) {

    .single_prduct{
         display: block;
         width: 100%;
         justify-content: center;
        align-items: center;


    }
    .single_product_div{
        width: 100%;
        min-height: 50vh;

    }
    .button_part{
        display: block;
        margin-left: 5%;
        
        
        width: 100%;
        


       
        


    }
    .button_part button{
        width: 85%;
        margin: 6px;
        justify-content: center;
        

        margin-top: 10px;

        


    }
    .div_content_data{
        width: 96%;
       
        
    }
 }

 @media screen and (max-width:768){

 }